.container {
    text-align: left;	
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}

.inputcontainer {
    padding: 16px 0;
    text-align: left;
}

.menubackground {
    padding: 0px;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-position: center;

}

body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-position: center;
	
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

