@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

@font-face {
	font-family: title1;
	src: url('fonts/wave1.ttf');
}

@font-face {
	font-family: title2;
	src: url('fonts/wave2.ttf');
}

@font-face {
	font-family: title3;
	src: url('fonts/wave3.ttf');
}

@font-face {
	font-family: sweet;
	src: url('fonts/nice.ttf');
}

body {
    /* display: flex;
    background-color: #ffffff; */
    background: white;
}

.backbutton {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  transition-duration: 0.3s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
  color: #ffffff;
}

.menubutton {
    position: relative;
    /*background-color: rgb(214, 214, 214);*/
    /*border: 1px solid #000000;*/
    background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    /*border: 2px ridge #000000;*/
    border: 1px solid rgb(214, 212, 212);
}
  
  .menubutton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .menubutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .fill{
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }

  .empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;
  }

  .unavailable{
    float: right; 
    margin-right: 10px; 
    width: 500px; height: 500px; 
    border:solid;
  }

  .hold{
    border: solid lightgray 4px;
  }

  .hovered{
    background: #f4f4f4;
    border-style: dashed;
  }

  .invisible{
    display: none;
  }

  .dragablediv
  {
    cursor: pointer;
  }