.logoutbutton{
    position:absolute;
    top:0;
    right:10px;
    color: blue;
    text-decoration: none;
 }

 .drinkInfo{
     display: inline-flex;
     margin-top: inherit;
     justify-content: space-between;
 }

 /* div { display:block; }
ul { display:inline-block; }
button { display:inline-block; vertical-align:top; } */