/*
Author: Lars Oestreicher

The CSS for the bar layout. The CSS has been structured in a way that makes it easier to find
the definitions that are overriding each other. The styles are sorted from the most generic definitions (Element)
to the more specific definitions of groups of objects (Classes) ending with definitions for individual elements (Id).

Obviously the colours and other more aesthetic properties of this bar layout still leaves a lot to desire. It is a
challenge to make this display aesthetically pleasing. The best suggestion wins a price.
*/
body {
    background-color: lightgoldenrodyellow;
	background-image: url(images/background.jpg);"
}

/*
We use a nice informal typeset for the pub ordering menu.
*/
div {
    font-family: "Chalkboard SE";
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  }
  
.button 1{
  top: 50%;
  left: 50%;
  position: absolute;
}
  
.button 2{
  top: 70%;
  left: 50%;
  position: absolute;
}

.button 3{
  top: 90%;
  left: 50%;
  position: absolute;
}

/*
Definition of a standard button of the interface.
*/
/*#startingpagecssbuttons {
	width: 1800px ;
	max-width: 100% ;
	text-align: center ;
}
#startingpagecssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#startingpagecssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#startingpagecssbuttons li .button {
	color: #ffffff ;
	background-color: #000000 ;
	border: 1px outset #f0f0f0 ;
	text-decoration: none ;
	display: block ;
}*/
#startingpagecssbuttons li .button:hover {
	color: #000000 ;
	background-color: #c0c0c0 ;
}
