


@media screen and (max-width: 800px) {             /* and (max-width: 800px) */
    h1 {
        font-size: 6vw;
    }
}

@font-face {
	font-family: title1;
	src: url('fonts/wave1.ttf');
}

@font-face {
	font-family: title2;
	src: url('fonts/wave2.ttf');
}

@font-face {
	font-family: title3;
	src: url('fonts/wave3.ttf');
}

@font-face {
	font-family: sweet;
	src: url('fonts/nice.ttf');
}

body {
    display: flex;
    background-color: #ffffff;
}

#line {
    position: absolute;
    left: 570px;
    top: 580px;
    width: 650px;
    height: 10px;
    background:linear-gradient(to bottom, #1b0606 5%, #1b1105 100%);
}
#leftbox {
    background-color: rgb(12, 5, 1);
    position: absolute;
    left: 895px;
    top: 590px;
    width: 325px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-family: sweet;
}

#rightbox {
    background-color: rgb(12, 5, 1);
    position: absolute;
    left: 570px;
    top: 590px;
    width: 325px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-family: sweet;
}

#topbox {
    /*background-image: linear-gradient(rgb(18, 15, 59), rgb(245, 245, 245));*/
    background-image: linear-gradient(to bottom right, rgb(119, 73, 21), rgb(32, 17, 0));
    /*border: 5px ridge rgb(230, 213, 213);*/
    position: absolute;
    left: 570px;
    top: 0px;
    width: 650px;
    height: 100px;
}

#box {
    background-image: url('images/FlyingDutchman.jpg');
    /*background-color: rgb(1, 1, 12);*/
    /*border: 5px ridge rgb(230, 213, 213);*/
    opacity: 0.5;
    position: absolute;
    left: 570px;
    top: 100px;
    width: 650px;
    height: 790px;
} 
#pubtitle {
    font-family: impact;
    position: absolute;
    top: 10px;
    left: 760px;
}

#alert {
    position: absolute;
    top: 120px;
    left: 1100px;
}

#logout {
    position: absolute;
    top: 120px;
    left: 600px;
}

#mainmenu {
    position: absolute;
    top: 200px;
    left: 800px;
}

#orderlist1 {
    color: #ffffff;
}

#orderlist2 {
    color: #ffffff;
}

#orderlist3 {
    color: #ffffff;
}

#orderlist4 {
    color: #ffffff;
}

.titletext {
    font-family: title3;
    color: rgb(255, 255, 255);
    font-size: 60 px;
}

.backbutton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
    color: #ffffff;
}

.logoutbutton {
	box-shadow:inset 0px 1px 0px 0px #887e4f;
	background:linear-gradient(to bottom, #a89526 5%, #9b8e1b 100%);
	background-color:#9c8a23;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a08909;
}


.alertbutton {
	box-shadow:inset 0px 1px 0px 0px #aa6862;
	background:linear-gradient(to bottom, #a12d24 5%, #881f16 100%);
	background-color:#8f2821;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #470803;
}

.menubutton {
    position: relative;
    /*background-color: rgb(214, 214, 214);*/
    /*border: 1px solid #000000;*/
    background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    /*border: 2px ridge #000000;*/
    border: 1px solid rgb(214, 212, 212);
}
  
  .menubutton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .menubutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }