


@media screen and (max-width: 800px) {             /* and (max-width: 800px) */
    h1 {
        font-size: 6vw;
    }
}


@font-face {
	font-family: title1;
	src: url('fonts/wave1.ttf');
}

@font-face {
	font-family: title2;
	src: url('fonts/wave2.ttf');
}

@font-face {
	font-family: title3;
	src: url('fonts/wave3.ttf');
}

@font-face {
	font-family: sweet;
	src: url('fonts/nice.ttf');
}

body {
    display: flex;
    background-color: #ffffff;
}

/* Design for line*/
#line {
    position: absolute;
    left: 570px;
    top: 580px;
    width: 650px;
    height: 10px;
    background:linear-gradient(to bottom, #1b0606 5%, #1b1105 100%);
}
/* Design for waiting-for-order box*/
#leftbox {
    background-color: rgb(12, 5, 1);
    position: absolute;
    left: 895px;
    top: 590px;
    width: 325px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-family: sweet;
}
/* Design for waiting-to-pay box*/
#rightbox {
    background-color: rgb(12, 5, 1);
    position: absolute;
    left: 570px;
    top: 590px;
    width: 325px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-family: sweet;
}

/* Design for "breaking the waves" box*/
#topbox {
    background-image: linear-gradient(to bottom right, rgb(119, 73, 21), rgb(32, 17, 0));
    position: absolute;
    left: 570px;
    top: 0px;
    width: 650px;
    height: 100px;
}

/* Design for background menu*/
#box {
    background-image: url('images/FlyingDutchman.jpg');
    opacity: 0.5;
    position: absolute;
    left: 570px;
    top: 100px;
    width: 650px;
    height: 790px;
}

/* Position for main title*/
#pubtitle {
    font-family: impact;
    position: absolute;
    top: 10px;
    left: 760px;
}

/* Position for alertbutton */
#alert {
    position: absolute;
    top: 120px;
    left: 1100px;
}

/* Position for logoutbutton */
#logout {
    position: absolute;
    top: 120px;
    left: 600px;
}

/* Position for main menu*/
#mainmenu {
    position: absolute;
    top: 200px;
    left: 800px;
}

#orderlist1 {
    color: #ffffff;
}

#orderlist2 {
    color: #ffffff;
}

#orderlist3 {
    color: #ffffff;
}

#orderlist4 {
    color: #ffffff;
}

/* Design for main title*/
.titletext {
    font-family: title3;
    color: rgb(255, 255, 255);
    font-size: 60 px;
}

/* Design for back-button*/
.backbutton {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    transition-duration: 0.3s;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
    color: #ffffff;
}

/* Design for logout button */
.logoutbutton {
	box-shadow:inset 0px 1px 0px 0px #887e4f;
	background:linear-gradient(to bottom, #a89526 5%, #9b8e1b 100%);
	background-color:#9c8a23;
	border-radius:6px;
	border:1px solid #000000;
	color:#ffffff;
	font-family:Arial;
    font-size:15px;
    display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a08909;
}

/* Design for alertbutton*/
.alertbutton {
	box-shadow:inset 0px 1px 0px 0px #aa6862;
	background:linear-gradient(to bottom, #a12d24 5%, #881f16 100%);
	background-color:#8f2821;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #470803;
}

/* Design for menubuttons*/
.menubutton {
    position: relative;

    background-image: linear-gradient(to bottom right, rgb(26, 14, 10), rgb(104, 84, 75));
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    
    border: 1px solid rgb(214, 212, 212);
}
 
/* Design for menubutton when clicked*/
.menubutton:after {
content: "";
background: #f1f1f1;
display: block;
position: absolute;
padding-top: 300%;
padding-left: 350%;
margin-left: -20px !important;
margin-top: -120%;
opacity: 0;
transition: all 0.8s
}

/* Design for menubutton after it has been clicked*/
.menubutton:active:after {
padding: 0;
margin: 0;
opacity: 1;
transition: 0s
}

/* drag and drop design */

#dragboxtitle {
    position: absolute;
    margin-left: -770px;
    margin-top: -10px;
}

.unavailable{
float: right;
position: absolute;
margin-left: -780px;
height: 400px;
width: 500px;
border:solid;
overflow-y: scroll;
}

.hold{
border: solid gray 4px;
}

.hovered{
background: #f4f4f4;
border-style: dashed;
}

.invisible{
display: none;
}

.dragable
{
cursor: pointer;
}

.login-page
  {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
  }

#managerview {
    position: absolute;
    margin-top: -50px;
    margin-left: -85px;
}

.form
{
background: rgba(20, 8, 0, 0.8);
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
float: left;
}

.form input{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
outline: 1;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}

.form button{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-transform: uppercase;
outline: 0;
background: #4CAF50;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}

#dropdown{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
outline: 1;
background: #f2f2f2;
width: 360px;
border: 10;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
